//META{"name":"dont use by self","description":"styles the autocomplete thingy","author":"Bunnies McGee","version":"1.0"}*//

.channel-textarea-autocomplete-inner {
	width: auto !important;
	background: transparent !important;
	background-color: rgba(0,0,0,0.7) !important;
	border-color: hsla(0,0%,100%,.2) !important;
}
.channel-textarea-autocomplete-inner ul li {
	color: hsla(0,0%,100%,.6) !important;
}

.channel-textarea-autocomplete-inner ul li.active {
    background: rgba(0,0,0,0.1) !important;
	padding-left: 10px !important;
}

.channel-textarea-autocomplete-inner header {
	background-color: rgba(0,0,0,0) !important;
	border-bottom: none;
    padding: 10px;
}