//META{"name":"Maxie-Patch","description":"Adds things to Bun's theme, more like a patch in a way..","author":"Maxie","version":"0.3"}*//

.message-group .comment .markup pre code {
    background: rgba(0,0,0,0) !important;
}

.theme-light .message-group .comment .markup code.inline, .theme-light .message-group .comment .markup pre {
    background-color: rgba(255,255,255,0.3) !important;
    color: #ffffff !important;
}

.theme-dark .message-group .comment .markup code.inline, .theme-dark .message-group .comment .markup pre {
    background-color: rgba(0,0,0,0.4) !important;
    color: #ffffff !important;
}

.theme-light .hljs {
	color: #fff !important;
}

.chat .markup pre {
    background: none !important;
    border: 1px solid rgba(0,0,0,0.5) !important;
}

.theme-dark .friends-table .messages .divider:not(.red) span, .theme-dark .messages-wrapper .messages .divider:not(.red) span {
    opacity: rgba(0,0,0,0.5) !important;
}

.theme-dark .message-group .comment .markup code.inline, .theme-dark .message-group .comment .markup pre {
	color: #839496 !important;
}

/*user popouts*/


.user-popout .header {
	flex-direction: column;
    padding: 0;
    text-transform: none;
    padding-bottom: 10px;
    /*background: rgba(0,0,0,0.5) url(http://i.imgur.com/X8zr2OZ.png);*/
    background-size: 270px 213px;
}

#user-profile-modal {
    background-color: rgba(25,25,25,0.5);
}
#user-profile-modal .header, #user-profile-modal .sub-header, #user-profile-modal .tab-bar, #user-profile-modal .scroller {
    background-color: rgba(0,0,0,0) !important;
	background-image: url() !important;
}

#user-profile-modal .guilds .guild:hover {
	background: rgba(0,0,0,0) !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
	color: #ffffff !important;	
}

#user-profile-modal .tab-bar {
    border-bottom: 0px solid rgba(0,0,0,0) !important;
}

#user-profile-modal footer {
	background: rgba(0,0,0,0) !important;
    border-top: 0px solid rgba(0,0,0,0) !important;
}

#user-profile-modal .empty {
	background: rgba(0,0,0,0) !important;
}

#user-profile-modal .scroller {
    background: rgba(0,0,0,0) !important;
}

#user-profile-modal .avatar-profile {
    border: 4px solid rgba(0, 0, 0, 0.3) !important;
	background-color: rgba(0,0,0,0) !important;
	box-sizing: border-box;
    background-clip: border-box;
	width: 124px;
    height: 124px;
    background-size: 128px 128px;
}


/* General Colours, used for tooltips etc, Default is #7289da or rgba(114, 137, 218, 1)*/
.tooltip {
	background-color: #7289da;
}
.tooltip.tooltip-right:after {
	border-right-color: #7289da;
}
.radio .radio-inner span:after {
	background: #7289da;
}
.radio:hover span:after {
    background: #7289da;
}
.guilds-wrapper .guilds .guild .guild-inner :hover {
	background-color: #7289da;
}
.checkbox .checkbox-inner input[type=checkbox]:checked+span {
    background-color: #7289da;
    border-color: #7289da;
}
.form .btn-primary {
    background-color: #7289da;
}
.scroller-wrap .scroller::-webkit-scrollbar-thumb, .scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    background-color: #7289da;
}
.tab-bar.SIDE .tab-bar-item:before {
    border-left: 4px solid #7289da;
}

.form .btn-primary:hover {
	background-color: #697ec4;
}

/* User popouts */
.user-popout {
	background: rgba(0,0,0,0.3);
}

.popout.popout-right.no-arrow .user-popout {
	background: rgba(0,0,0,0.3) !important;
}

.user-popout .header.streaming .live-on-twitch {
    border-top: none;
}

.quick-message {
    border: 1px solid rgba(0,0,0,0) !important;
    background: transparent !important;
	border-radius: 0px !important;
	color: #C3C3C3 !important;
}

/* Trying to solve issue mentioned in readme here, solution was to move popups to visual centre, then add a scroller for when a user has many many roles*/
.popout.popout-right.no-arrow {
    right: 50vw !important;
    top: 50vh !important;
    left: auto !important;
    transform: translateX(0px) translateY(0px) translateZ(0px) !important;
    margin: -225px -120px 0 0px;
}

.popout.popout-right.no-arrow .user-popout .body .section {
    max-height: 250px;
    overflow: scroll;
	overflow-x: hidden;
	padding-right: 10px;
}

.section.notes {
    overflow: initial !important;
    overflow-x: initial !important;
}

.popout.popout-right.no-arrow .user-popout .body .section .section notes {
    overflow: initial;
	overflow-x: initial;
}

.popout.popout-right.no-arrow .user-popout .body .section::-webkit-scrollbar {
    width: 10px;
}

.popout.popout-right.no-arrow .user-popout .body .section::-webkit-scrollbar-thumb, .popout.popout-right.no-arrow .user-popout .body .section::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.4) !important;
}

.popout.popout-right.no-arrow .user-popout .body .section::-webkit-scrollbar-thumb, .popout.popout-right.no-arrow .user-popout .body .section::-webkit-scrollbar-track-piece {
    background-clip: padding-box;
    border-radius: 7px;
}

/*and just for the sake of it im gonna add that scrolling to the popups on the right*/

.popout.popout-left.no-arrow .user-popout .body .section {
    max-height: 250px;
    overflow: scroll;
	overflow-x: hidden;
	padding-right: 10px;
}

.popout.popout-left.no-arrow .user-popout .body .section::-webkit-scrollbar {
    width: 10px;
}

.popout.popout-left.no-arrow .user-popout .body .section::-webkit-scrollbar-thumb, .popout.popout-left.no-arrow .user-popout .body .section::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.4) !important;
}

.popout.popout-left.no-arrow .user-popout .body .section::-webkit-scrollbar-thumb, .popout.popout-left.no-arrow .user-popout .body .section::-webkit-scrollbar-track-piece {
    background-clip: padding-box;
    border-radius: 7px;
}

/*-------------*/


.user-popout .body .notes textarea:focus {
	background: rgba(0,0,0,0.2) !important;
}

.note textarea:focus {
    background: transparent !important;
}

.user-popout, .popout header {
	border-radius: 0px 0px 0 0 !important;
}

.user-popout header, .user-popout .body {
    background: rgba(0,0,0,0) !important;
}

.user-popout .footer, .user-popout .input {
	background: rgba(255, 255, 255, 0) !important;
	border-top: none;
}

.user-popout .footer .quick-message-wrapper .input {
	color: #d4d4d4 !important;
}

.popout.popout-left.no-arrow {
    transform: translateX(-106.1%) translateY(0%) translateZ(0px) !important;
}

.user-popout .avatar-wrapper .avatar-popout {
    border: 4px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 1);
    background-repeat: no-repeat;
}

.avatar-popout {
    width: 90px;
    height: 90px;
    background-size: 98px 98px;
    border-radius: 50%;
    background-position: -4px -4px;
}

.callout-backdrop {
    background-color: rgba(0,0,0,0.5) !important;
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb, .scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    border: 3px solid rgba(255,255,255,0.05) !important;
	border: 3px solid rgba(255,255,255,0) !important;
}

.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    background-color: rgba(0,0,0,0.2) !important;
	background-color: rgba(0,0,0,0) !important;
}

.guild-header ul {
    transition: transform .15s ease-out;
}

.guild-header ul a {
    margin: 0px 0px !important;
}

.guild-header ul li:hover a {
    border-radius: 0px !important;
}

.private-channels .search-result.selected, .private-channels .search-result:hover {
    background: -webkit-linear-gradient(left,rgba(0, 0, 0, 0) 85%,rgba(0, 0, 0, 0)) !important;
    background: linear-gradient(90deg,rgba(0, 0, 0, 0) 85%,rgba(0, 0, 0, 0)) !important;
	background: rgba(0,0,0,0.2) !important;
}

/* this part fixes a completely insignificant thing, the little magnifying glass on the search box on the PMs page
.search-bar-clear {
    width: 20px;
    height: 20px;
    border: 2px solid #666a6e;
	background: rgba(0,0,0,0);
}

.search-bar-clear:before {
    background: rgba(0,0,0,0);
}

.search-bar-clear:after {
    margin: 18px 0 0 20px;
}
 */
 .search-bar {
    box-shadow: 0 1px 0 0 transparent,inset 0 -1px 0 0 transparent;
}
 
 .search-bar input {
    background: rgba(0,0,0,0);
}
.emoji-picker .search-bar input {
	background: rgba(0,0,0,0);
}

#friends .friends-header {
    border-bottom: 1px solid transparent !important;
}

#friends .friends-header .tab-bar .tab-bar-item:hover:not(.selected) {
    background-color: rgba(0,0,0,0.2) !important;
}

#friends .friends-table .friends-row .friends-column-actions .friends-action {
	background-color: transparent;
}

#friends .friends-table .friends-row .friends-column-actions .friends-action:hover {
    background-color: rgba(0,0,0,0.4);
}

#friends .friends-table .friend-table-add-wrapper .friend-table-add-header {
    border-bottom: 1px solid transparent !important;
    background: transparent !important;
}


/* this fixes one singular border */
#voice-connection {
	border-top: none !important;
}

/* Guilds List, cant use this because then guilds without images do not have a colour when you hover over them, 
.guilds-wrapper .guilds .guild .guild-inner :hover {
	background-color: rgba(0,0,0,0) !important;
}
 */

/* Testing something */
#friends .friends-empty.section-pending .empty-state-image {
    background-image: url(https://bunniesmcgee.tk/wumpus.php) !important;
}

.theme-dark #friends .friends-empty.section-pending .empty-state-image {
    -webkit-filter: brightness(30%) saturate(3) !important;
}

.theme-light #friends .friends-empty.section-pending .empty-state-image {
	-webkit-filter: brightness(100%) !important;
}

.member-roles .member-role {
    color: #d4d4d4;
	background-color: rgba(243,243,243,0.1);
}

/* Settings Popup */

.user-settings-modal.settings {
    background: rgba(24, 24, 23, 0);
}

.settings .settings-inner, .user-settings-modal-games, .settings .settings-actions, .settings .settings-inner .settings-panel, .settings .settings-header  {
	background: rgba(24, 24, 23, 0);
	background: rgba(0,0,0,0);
}

.avatar-uploader .avatar-uploader-inner {
	background-size: 124px 124px;
	background-color: rgba(0,0,0,0);
    width: 124px;
    height: 124px;
    border: 5px solid rgba(255,255,255,0.3);
}

.user-settings-modal-games .games-table .games-row .item-game .game-input {
    color: #8c8c8c;
}

/* Server Settings */
.settings .settings-inner, .user-settings-modal-games, .settings .settings-actions, .settings .settings-inner .settings-panel, .settings .settings-header {
    background: rgba(24, 24, 23, 0);
    color: #fff;
}

.guild-settings-modal-members {
    background-color: rgba(0,0,0,0);
}
.guild-settings-modal-members .guild-settings-modal-list .member .member-inner {
	-webkit-filter: brightness(400%);
}
.guild-settings-modal-members .guild-settings-modal-list .member .bot-tag {
	-webkit-filter: brightness(25%);
}
.guild-settings-modal-members .guild-settings-modal-list .member+.member {
    border-top: 1px solid rgba(236,238,239,0.1);
}
.search-bar.search-bar-light .search-bar-inner {
    background-color: transparent;
    border: transparent;
}

/* General Changes */
.radio .radio-inner {
	background: transparent;
}
.channel-notification-settings .content label {
	color: #bbbdbf;
}

/* Direct Calls */
.theme-dark .chat .private-channel-call .btn-icon {
	background: rgba(0,0,0,0) !important;
}

.theme-dark .chat .private-channel-call .btn-icon:hover {
	background: rgba(0,0,0,0.3) !important;
	color: #a5afbb;
}

/* that thing that pops up when you click the channel topic */
.markdown-modal {
    background-color: rgba(0,0,0,0.4) !important;
}

.markdown-modal .markdown-modal-header {
    padding: 0 20px 0px !important;
    border-bottom: 1px solid rgba(0,0,0,0) !important;
}

/* privacy settings popup */

.form .form-header, .form .form-inner, .form .form-actions {
	background-color: transparent;
	background: rgba(24, 24, 23, 0.75);
}

.form .control-groups {
	color: #a5afbb;
}
/*Auto comp menu */
.channel-textarea-autocomplete-inner {
	width: auto !important;
	background: transparent !important;
	background-color: rgba(25,25,25,0.7) !important;
	border-color: hsla(0,0%,100%,.2) !important;
	min-width: 200px;
}
.channel-textarea-autocomplete-inner ul li {
	color: hsla(0,0%,100%,.6) !important;
}

.channel-textarea-autocomplete-inner ul li.active {
    background: rgba(0,0,0,0.1) !important;
	padding-left: 10px !important;
}

.channel-textarea-autocomplete-inner header {
	background-color: rgba(0,0,0,0) !important;
	border-bottom: none;
    padding: 10px;
}

.channel-textarea-autocomplete-inner .command-description {
	padding-left: 20px;
}

/*emoji menu */

#bda-qem-favourite-container, #bda-qem-twitch-container, .emoji-picker .sticky-header, .emoji-picker .scroller {
	background-color: transparent;
	background: transparent;
}

.emoji-picker {
    border: 0px solid transparent;
}

.emoji-picker .sticky-header {
	display: none;
}

.emoji-picker .search-bar .search-bar-inner {
    background-color: transparent;
}

.emoji-picker .dimmer.visible {
	background-color: transparent;
}

.diversity-selector .popout {
    background: rgba(0,0,0,0.7);
    box-shadow: 0 2px 6px 0 transparent;
    border: 1px solid transparent;
    border-radius: 3px;
}

.emoji-picker, #bda-gem, #bda-qem-favourite-container, #bda-qem-twitch-container {
	background: rgba(0,0,0,0.5) !important;
    background-color: rgba(0,0,0,0.5) !important;
}

#bda-qem {
	background: rgba(0,0,0,0.5);
    background-color: rgba(0,0,0,0.5);
}

#bda-qem button {
	background: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
	color: #D6D6D6;
	border-left: 1px solid transparent;
	box-shadow: transparent 1px 0 0 0;
}

#bda-qem button:hover {
	background: rgba(0,0,0,0.2) !important;
    background-color: rgba(0,0,0,0.2) !important;
	color: #fff;
}

#bda-qem button.active {
	background: rgba(0,0,0,0.2) !important;
    background-color: rgba(0,0,0,0.2) !important;
	color: #fff;
}

#bda-qem-twitch-container, #bda-qem-favourite-container {
	width: 344px;
	height: 326px;
}

/*File Upload*/
.modal .modal-inner {
    background-color: rgba(25,25,25,0.7);
    /*border-radius: 5px;*/
}
.modal .download-button {
	padding-left: 10px;
}
.upload-modal-inner {
	border: 2px dashed rgba(0,0,0,0) !important;
}

.upload-modal, .upload-modal .footer {
	background-color: transparent !important;
}

.upload-modal .footer .button {
    background-color: rgba(255,255,255,0.1);
}

.upload-modal .footer .button:hover {
	background-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0);
}

.upload-modal .inner .file .icon.image {
    border: 2px solid rgba(0,0,0,0.4) !important;
}

/* Blocked Message Box */ 

.form .form-header {
    padding: 0 40px;
    color: #7289da;
    background: rgba(25,25,25,0);
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.form .form-inner {
    background-color: rgba(0,0,0,0);
    padding: 28px 40px 48px;
}

.form .form-actions {
    background-color: rgba(0,0,0,0);
    border-top: 1px solid rgba(0,0,0,0.5);
    box-sizing: border-box;
    width: 100%;
    padding: 18px 40px;
    border-radius: 0 0 5px 5px;
    text-align: right;
    flex-shrink: 0;
}

.modal-content .form-inner p:first-child {
    margin-top: 0;
}

.modal-content .form-inner p {
    color: #306dd4;
    line-height: 16px;
    font-size: 14px;
}

/* Aids */

#settings-roles .roles li.selected {
    background: linear-gradient(90deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}

#settings-roles .roles li:hover {
	background: linear-gradient(90deg,rgba(0,0,0,0.2),rgba(0,0,0,0.2));
}

/* More Aids */

.form .btn-default {
	/*
    padding: 10px 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
	background-color: #158652;
    color: #ffffff;
    margin-left: 20px;
	*/
    border-top-color: initial;
    border-top-style: initial;
    border-top-width: 0px;
    border-right-color: initial;
    border-right-style: initial;
    border-right-width: 0px;
    border-bottom-color: initial;
    border-bottom-style: initial;
    border-bottom-width: 0px;
    border-left-color: initial;
    border-left-style: initial;
    border-left-width: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 3px;
	border-bottom: 2px solid rgba(0,0,0,0);
	background-color: rgba(255,255,255,0.1);
	width: 80px;
    height: 36px;
	padding-top: 10px;
    padding-bottom: 10px;
}

.form .btn-default:hover {
    background-color: rgba(255, 255, 255, 0.2);
	border-bottom-color: rgba(255, 255, 255, 0);
}

.form .control-group input[type=email], .form .control-group input[type=number], .form .control-group input[type=password], .form .control-group input[type=text], .form .control-group textarea {
    background: transparent;
    color: #f0f0f0;
}

div.control-group .shortcut-recorder input[type=text] {
    color: #f0f0f0;
}

.user-settings-modal .account-warning {
	background: rgba(49, 28, 28, 0.7);
}

.bda-slist li:nth-child(odd) {
	background: rgba(0,0,0,0);
}

.bda-slist li {
	background: rgba(0,0,0,0);
}

.bda-slist .bda-description {
	color: #f0f0f0;
}

.form .btn:disabled {
    background-color: rgba(128,128,128,0.4);
}

#create-channel-modal .checkbox-group li {
	color: #f0f0f0;
}

.settings-connections-wrapper .user-settings-modal-connections .user-settings-modal-connections-list .connection .connection-integrations.no-integrations {
	color: #f0f0f0;
}

.settings-connections-wrapper .authed-app {
	background: transparent;
}

.settings-connections-wrapper .authed-app .header .app-name, .settings-connections-wrapper .authed-app .details .header, .settings-connections-wrapper .authed-app .details .header {
	color: #f0f0f0;
}

.friends-table .messages .divider span, .messages-wrapper .messages .divider span {
    background-color: rgba(54,57,62,0.3);
}

.highlight, .theme-dark .highlight, .theme-light .highlight {
	background: transparent !important;
	background-color: transparent !important;
}

.highlight:hover, .theme-dark .highlight:hover, .theme-light .highlight:hover {
	background: transparent !important;
	background-color: transparent !important;
}


#user-profile-modal .scroller {
    background: rgba(0,0,0,0) !important;
}

#user-profile-modal .tab-bar-container {
    background-color: rgba(0,0,0,0) !important;
}

/* THE CONTEXT MENU I KEEP MESSING THIS UP */
.context-menu {
	background: rgba(0,0,0,0.7) !important;
	border-radius: 0px;
}

.context-menu .item:hover {
	background: rgba(0,0,0,0.2) !important;
}

.context-menu .item-subMenu {
	background: url(/assets/1988164a7c55346d32117b151f4e319d.svg) 155px 50% no-repeat transparent !important;
}

.context-menu .item-subMenu:hover {
	background: rgba(0,0,0,0.2) !important;
}

.context-menu .context-menu, .context-menu {
	box-shadow: 0 1px 4px transparent !important;
	border: 1px solid transparent !important;
}

.guild-header.guild-header-open ul {
	direction: rtl;
    background: rgba(0,0,0,0.5);
}