//META{"name":"Maxie-Patch","description":"Adds things to Bun's theme, more like a patch in a way..","author":"Maxie","version":"0.3"}*//


.chat .markup code {
    background: rgba(0,0,0,0.3) !important;
}

.chat .markup pre {
    background: none !important;
    border: 1px solid rgba(0,0,0,0.5) !important;
}

.theme-dark .friends-table .messages .divider:not(.red) span, .theme-dark .messages-wrapper .messages .divider:not(.red) span {
    opacity: rgba(0,0,0,0.5) !important;
}

/*User Popouts*/

.user-popout .header {
	    flex-direction: column;
    padding: 0;
    text-transform: none;
    padding-bottom: 10px;
    background: rgba(0,0,0,0.5) url(http://i.imgur.com/X8zr2OZ.png);
    background-size: 270px 213px;
}

#user-profile-modal .header {
    background-color: rgba(0,0,0,0.5);
    background-image: url(http://i.imgur.com/X8zr2OZ.png);
    background-size: 270px 213px;
    height: 94px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    padding: 0 0 10px 173px;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: vertical;
    flex-direction: column;
    -webkit-user-select: text;
}

#user-profile-modal .sub-header {
    background: rgba(0,0,0,0.5);
    height: 91px;
    padding: 10px 25px 0 173px;
    box-sizing: border-box;
}

#user-profile-modal .scroller {
    background: rgba(0,0,0,0.5) !important;
}

#user-profile-modal .guilds .guild:hover {
	background-color: rgba(0, 0, 0, 0.7); 
	color: rgba(0, 0, 0, 0.7);
}

#user-profile-modal .tab-bar {
    background: rgba(0,0,0,0.5) !important;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    padding: 5px 20px 0;
    margin-bottom: 0;
}
