.app {
    background-size: cover;
	background-color: #8F99A8;
	background-color: rgba(0,0,0,0);

}

.theme-dark .chat {
	background-color: rgba(0,0,0,0) !important;
}

.theme-light .chat {
	background-color: rgba(0,0,0,0) !important;
}

.private-channel-call {
	background-color: rgba(0,0,0,0.7) !important;
	box-shadow: inset 0 -4px 10px 0 rgba(0,0,0,0) !important;
	background-image: url() !important;
}

#previousButton {
    color: rgba(255,255,255,0.3);
	background-color: rgba(0,0,0,0) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    font-size: 10px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
	cursor: pointer;
	position: fixed;
	bottom: 2px;
    left: 230px;
}

#nextButton {
    color: rgba(255,255,255,0.3);
	background-color: rgba(0,0,0,0) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    font-size: 10px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
	cursor: pointer;
	position: fixed;
	bottom: 2px;
    left: 260px;
}

#previousButton:hover {
    text-decoration: underline;
}

#nextButton:hover {
    text-decoration: underline;
}

.theme-light .message-group {
    border-bottom: 1px solid rgba(0, 0, 0, 0) !important;
}

.theme-dark .message-group {
    border-bottom: 1px solid rgba(0, 0, 0, 0) !important;
}

.btn-group {
    border: 0px solid #1c1e22 !important;
    border-radius: 0px !important;
}

.btn-mute, .btn-account {
	border-right: 0px !important;
}

.account .btn-deafen, .account .btn-mute {
	border-right: 0px !important;
}

.account .btn-deafen, .account .btn-settings {
	box-shadow: inset 0px 0 0 #373b42;
}

#voice-connection .btn-info {
	border-right: 0px !important;
}

#voice-connection .btn-disconnect {
	box-shadow: inset 0px 0 0 #373b42;
}

.account {
	border-top: 1px solid rgba(0,0,0,0) !important;
}

.account .btn-settings:after {
	opacity: 0.3;
}

.chat .content {
    background-color: rgba(0,0,0,0.6) !important;
}

.messages-wrapper, .typing, .typing-animate {
	background-color: rgba(0,0,0,0) !important;
}

.channels-wrap, .guilds-wrapper {
	background: rgba(0,0,0,0.7) !important;
}

.chat>.title-wrap {
	background: rgba(0,0,0,0.7) !important;
	background-color: rgba(0,0,0,0.7) !important;
}

.theme-light .links {
	border-top: 1px solid #D1D1D1 !important;
}

.theme-light .account {
	border-top: 1px solid rgba(0,0,0,0) !important;
}

.theme-dark .links {
	border-top: 1px solid #1c1e22 !important;
}

.theme-dark .account {
	border-top: 1px solid rgba(0,0,0,0) !important;
}

.callout-backdrop {
    background-color: rgba(0,0,0,0.9) !important;
}

.guild-channels, #voice-connection, .account, .links, .guilds {
	background: rgba(0,0,0,0) !important;
}

.account .btn, #voice-connection .btn  {
	background: rgba(0,0,0,0) !important;
}

.theme-light .account .btn-group, .theme-light #voice-connection .btn-group  {
    border: 1px solid #D1D1D1 !important;
}

.theme-light .account .btn-deafen, .theme-light .account .btn-mute, .theme-light #voice-connection .btn-info  {
	border-right: 1px solid #D1D1D1;
}

#user-profile-modal .scroller {
	background: #fff !important;
}
.guilds-wrapper .guilds-add {
	background: rgba(0,0,0,0.2) !important;
	border: none;
}

.guilds-wrapper .guilds .guild .guild-inner {
	background: rgba(0,0,0,0.2) !important;
	background-color: rgba(0,0,0,0);
}
.guilds-wrapper .guilds .guild .guild-inner :hover {
    background-color: rgb(114, 137, 218) !important;
	transition:all 100ms ease;
}
.channel-textarea-inner, .theme-light .channel-textarea-inner textarea  {
	background-color: rgba(0,0,0,0) !important;
}

.theme-light .channel-textarea-inner {
	border: 2px solid #BDBDBD;
}

.theme-light .channel-textarea-inner textarea {
	color: #ECECEC !important;
}

.theme-light .message-group .comment .markup pre {
	background-color: #f9f9f9 !important;
	color: #657b83 !important;
}

.theme-light .highlight {
	background: rgba(0,0,0,0.2) !important;
}

.theme-dark .highlight {
	background: rgba(255,255,255,0.05) !important;
}

.theme-light .message-group .comment .markup code.inline {
	background-color: #f9f9f9 !important;
	color: #657b83 !important;
}

.guild-channels .channel {
	font-size: 15.5px;
}
.guild-channels .channel-text.selected {
    background: -webkit-linear-gradient(left,rgba(0, 0, 0, 0) 85%,rgba(0, 0, 0, 0)) !important;
    background: linear-gradient(90deg,rgba(0, 0, 0, 0) 85%,rgba(0, 0, 0, 0)) !important;
	background: rgba(0,0,0,0.2) !important;
}

.guild-channels .channel-text:hover {
    background: -webkit-linear-gradient(left,rgba(0, 0, 0, 0) 85%,rgba(0, 0, 0, 0)) !important;
    background: linear-gradient(90deg,rgba(0, 0, 0, 0) 85%,rgba(0, 0, 0, 0)) !important;
	background: rgba(0,0,0,0.2) !important;
}

.theme-light .message-group {
	border-bottom: 1px solid #828282 !important;
}

.theme-light .message-group .comment .markup code.inline {
	background: #2e3136;
}
.friends-table, .messages-wrapper  {
	background: rgba(0,0,0,0) !important;
}

#friends .friends-header, .search-bar {
	background-color: rgba(0,0,0,0) !important;
}

#friends .friends-table .friends-row:hover {
	background: -webkit-linear-gradient(left,rgba(0, 0, 0, 0) 85%,rgba(0, 0, 0, 0)) !important;
    background: linear-gradient(90deg,rgba(0, 0, 0, 0) 85%,rgba(0, 0, 0, 0)) !important;
	background: rgba(0,0,0,0.2) !important;
}

.friends-table .scroller-wrap ::-webkit-scrollbar-track-piece, .messages-wrapper .scroller-wrap ::-webkit-scrollbar-track-piece {
	background-color: rgba(0,0,0,0) !important;
	border: none !important;

}
.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-thumb, .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0.2) !important;
}

.theme-light .friends-table .scroller-wrap ::-webkit-scrollbar-thumb, .theme-light .messages-wrapper .scroller-wrap ::-webkit-scrollbar-thumb {
	background-color: rgba(255,255,255,0.2) !important;
}


.friends-table .scroller-wrap ::-webkit-scrollbar-thumb, .messages-wrapper .scroller-wrap ::-webkit-scrollbar-thumb {
	border-color: rgba(0,0,0,0) !important;
}

.private-channels .channel.selected {
    background: -webkit-linear-gradient(left,rgba(0, 0, 0, 0) 85%,rgba(0, 0, 0, 0)) !important;
    background: linear-gradient(90deg,rgba(0, 0, 0, 0) 85%,rgba(0, 0, 0, 0))!important;
	background: rgba(0,0,0,0.2) !important;
}

.private-channels  .channel:hover {
    background: -webkit-linear-gradient(left,rgba(0, 0, 0, 0) 85%,rgba(0, 0, 0, 0)) !important;
    background: linear-gradient(90deg,rgba(0, 0, 0, 0) 85%,rgba(0, 0, 0, 0)) !important;
	background: rgba(0,0,0,0.2) !important;
}

/*
.scroller-wrap.dark .scroller::-webkit-scrollbar-thumb {
	background-color: #f3f3f3;
}
*/

#friends {
	background-color: rgba(0,0,0,0.6) !important;
}
.theme-light #friends .friends-header {
	background-color: rgba(0,0,0,0) !important;
}

.private-channels {
	background: rgba(0,0,0,0) !important;
}

.theme-light .message-group .comment .markup {
	color: #ECECEC !important;
}

.theme-light .guild-channels .channel a, .theme-light .chat>.title-wrap>.title .channel-name {
	color: #CECECE !important;
	opacity: 1 !important;
}
/*
.channels-wrap {
    border-left: thin solid #282B30;
    background-color: rgba(0,0,0,0) !important;
    border-right: thin solid #282B30;
}

.guilds-wrapper {
    background-color: rgba(0,0,0,0) !important;
}
.guild-channels {
    background-color: rgba(0,0,0,0) !important;
}
.chat>.content, .theme-dark .friends-table, .theme-dark .messages-wrapper {
    background-color: rgba(0,0,0,0) !important;
}
.theme-dark .chat form {
    background-color: rgba(0,0,0,0) !important;
}
*/

/*--------------------------------------------*/
div[class*="layer"], div[class*="layers-"] {
    background: transparent !important;
}

div[class*="membersWrap-"] {
    transform:translate(150px);
    z-index:2;
    transition:all 300ms ease;
	background: transparent !important;
}

div[class*="members"], div[class*="typing"] {
    background: transparent !important;
}

div[class*="membersWrap-"]:hover {
    animation: member 300ms ease;
    transform:translate(0px);
	background-color: #2e3136 !important;
	background-color: rgba(0, 0, 0, 0.2) !important;
}

div[class*="members"], div[class*="typing"] {
    background: transparent !important;
}

div[class*="membersWrap-"] div[class*="members"]:hover {
	background: linear-gradient(90deg,rgba(0,0,0,0) ,rgba(0,0,0,0)) !important;
	background-color: rgba(0, 0, 0, 0.2) !important;
}

div[class*="membersWrap-"] .member.popout-open {
    background: -webkit-linear-gradient(left,rgba(0, 0, 0, 0) 85%,rgba(0, 0, 0, 0)) !important;
    background: linear-gradient(90deg,rgba(0, 0, 0, 0) 85%,rgba(0, 0, 0, 0)) !important;
	background: rgba(0,0,0,0.2) !important;
}

.app {
    overflow-x: hidden;
}
/*
.guild-header ul {
	transform: translate3d(0,-150%,0) !important;
}
*/

.guild-header.guild-header-open ul {
    -webkit-transform: translateZ(0) !important;
    transform: translateZ(0) !important;
	border-radius: 5px;
}

.theme-light .guild-header ul a {
    color: #737f8d !important;
    opacity: 1 !important;
}

.theme-light .guild-header ul {
    background: #FFFFFF !important;
}

.theme-light .guild-header ul a:hover {
	background-color: rgba(0,0,0,0.2) !important;
}

.guild-header ul a.red-highlight {
	color: #f04747 !important;
}

.theme-light #friends .friends-table .friends-row .friends-column-name {
	color: #CECECE !important;
}

.theme-light #friends .friends-table .friends-row .friends-column-status {
	color: #CECECE !important;
}

.theme-light #friends .friends-empty p {
	color: #CECECE !important;
}

.chat>.title-wrap {
	border-bottom: none !important;
	box-shadow: none !important;
}

.theme-light .scroller-wrap.light .scroller::-webkit-scrollbar-thumb {
	background-color: #7289da !important;
}
.guild-header header {
	background-color: rgba(0,0,0,0) !important;
	box-shadow: 0 1px 0 rgba(0,0,0,0),inset 0 -1px 0 rgba(0,0,0,0) !important;
}

div[class*="membersWrap-"] div[class*="memberInner"] {
    opacity:0;
    transition:opacity 300ms ease, margin 100ms ease;
}

div[class*="membersWrap-"] div[class*="memberInner"] {
    margin-bottom:10px;
}

div[class*="membersWrap-"]:hover div[class*="memberInner"] {
    opacity:1;
}

.header-toolbar button.active{
    display:none;
}

div[class*="membersWrap-"] h2{
    transform-origin:left;
    transform:scale(0.8);
    padding:0px 0px 0px 10px;
    transition: all 300ms ease;

}

.invite-btn {
    width: 30px;
    height: 30px;
	padding: 0px 0px !important;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url(/assets/181143c7c10c902dc9183f39d1198d11.svg) 50% no-repeat;
    background-size: 16px 16px;
	transition: all 400ms ease;

}

div[class*="membersWrap-"]:hover  .invite-btn , div[class*="membersWrap-"]:hover .invite-btn, {
	width: initial !important;
    height: initial !important;
	padding: 5px 23px !important;
	text-indent: initial !important;
	white-space: initial !important;
	overflow: initial !important;
    background-size: 16px 16px;
	background: url() 50% no-repeat;
	background-color: #7289da;
	transition: all 400ms ease;

}

div[class*="membersWrap-"]:hover h2{
    transform:scale(1);
    padding:0px 0px 0px 30px;
}
div[class*="membersWrap-"] .avatar-small{
    transform:scale(1);
}
div[class*="membersWrap-"]:hover .avatar-small{
    transform:scale(1);
}

.chat.flex-vertical.flex-spacer>.content.flex-spacer.flex-horizontal>.flex-spacer.flex-vertical{
    margin-right:-145px;
    z-index:1
}

.chat .flex-vertical .flex-spacer .private >.content.flex-spacer.flex-horizontal>.flex-spacer.flex-vertical{
    margin-right:-145px;
    z-index:1
}

.chat.flex-vertical.flex-spacer.private>.content.flex-spacer.flex-horizontal>.flex-spacer.flex-vertical {
	margin-right:-145px;
	z-index:1;
}

#app-mount {
	background-color: rgba(0,0,0,0);
}

div[class*="titleBar-"] {
	background-color: rgba(0,0,0,0.8);
	margin-top: 0 !important;
	padding-top: 4px;
	/*fix your shit, discord*/
}